# Compiled class file
*.class

# Log file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# VM Crash logs
hs_err_pid*

# Other ignored files #
.idea
*.iml
*.png
/out/
