/* Essential Layout Coloring */
.appBar {
    -fx-background-color: #212121;
}

.background {
    -fx-background-color: #2A3039;
}

.dialogs {
    -fx-background-color: #353b48;
}

.navbar {
    -fx-background-color: #2f3640;
}

/* Header */
.header {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: #343a40;
    -fx-font-size: 48px;
}

.header.underlined {
    -fx-underline: true;
}

.header2 {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: #343a40;
    -fx-font-size: 36px;
}

.header2.underlined {
    -fx-underline: true;
}

.header3 {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: #343a40;
    -fx-font-size: 24px;
}

.header3.underlined {
    -fx-underline: true;
}

/* Text Formating */
.regText {
    -fx-text-fill: #343a40;
    -fx-font-size: 18px;
}

/* Login FXML */
.loginTitle {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 48px;
    -fx-underline: true;
}

.loginTextField {
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #BDBDBD;
}

.loginButton {
    -fx-background-color: #353b48;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: #ffffff;
}

/* Dashboard FXML */
.dashNavbar {
    -fx-background-color: #353b48;
}

.dashBackground {
    -fx-background-color: #f1f4f6;
}

.dashDialog {
    -fx-background-color: #ffffff;
}

.dashDialog.shadowed {
    -fx-effect: dropshadow(gaussian, lightgrey, 15, 0, 0, 0);
}

.dashInputField {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: dimgray;
    -fx-prompt-text-fill: black;
}

.dashRegText {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.dashRegText.yellow {
    -fx-text-fill: #ffc107;
}

.dashRegText.red {
    -fx-text-fill: #dc3545;
}

.dashRegText.blue {
    -fx-text-fill: #007bff;
}

.dashRegText.grey {
    -fx-text-fill: #6c757d;
}

.dashRegText.small {
    -fx-font-size: 16px;
}

.dashRegText.smaller {
    -fx-font-size: 14px;
}

.dashButton {
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.dashSpacer {
    -fx-background-color: #6c757d;
    -fx-opacity: 0.5;
}